#i{
    background-color: rgb(140, 134, 218);
    width: 250px;
    height: 70px;
    display: flex;
    margin: 50px;
    padding: 10px;
margin-left: 500px;
}
button{
    color: rgb(12, 26, 7);
    
}
#h{
    text-align: center;
    background-color: rgb(230, 19, 19);
    font-size: 40px;
}